<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="../public/stylesheets/style.css"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  <body>
    <% include ./partial/header %> 

    <h1>All Games</h1>

    <% if(favorite){favorite.forEach((foundGame)=>{%>
    <div>
      <a href="/games/singlegame/<%=foundGame.title%>"
        ><%= foundGame.title %>
        <br />
        <img width="500px;" height="500px;" src="<%= foundGame.image %>"
      /></a>
    </div>
    <%})} %>

    <a href="/games">
    <button type="submit">
        Back
    </button>
    </a>
  </body>
</html>
