<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="fullscreen_bg" class="fullscreen_bg"/>
    
    <div class="container">
    
        <form class="form-signin" action="/login" method="POST">
            <h1 class="form-signin-heading text-muted">Sign In</h1>
            <% if(success.length>0) {%>
                <span style="color:green">
                <%=success%> <%}%></span>
            
                <% if (errors.length>0) { %>
                    <span style="color:red">
                    <%=errors %> 
                    <% } %></span>
            <input type="text" id="username" class="form-control" placeholder="Username" name = "username" required="" autofocus="">
            <input type="password" id="password" class="form-control" placeholder="Password" name = "password" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign In
            </button>

        </form>
        <form class="form-signin" action="/register" method="POST">
          <h1 class="form-signin-heading text-muted">Register</h1>
          <% if(success.length>0) {%>
              <span style="color:green">
              <%=success%> <%}%></span>
          
              <% if (errors.length>0) { %>
                  <span style="color:red">
                  <%=errors %> 
                  <% } %></span>
          <input type="text" id="name" class="form-control" placeholder="Name" name = "name" required="" autofocus="">
          <input type="text" id="username" class="form-control" placeholder="Username" name = "username" required="" autofocus="">
          <input type="text" id="email" class="form-control" placeholder="Email address" name = "email" required="" autofocus="">
          <input type="text" id="admin" class="form-control" placeholder="AdminSecret" name = "admin" required="">
          <input type="password" id="password" class="form-control" placeholder="Password" name = "password" required="">
          <button class="btn btn-lg btn-primary btn-block" type="submit">
              Register
          </button>
      </form>
    </div>
  </body>
</html>
