HOST=127.0.0.1
PORT=3000
APP_NAME=NODEJS
APP_URL=http://${HOST}:${PORT}

DB_HOST=127.0.0.1
DB_PORT=27017
DB_DATABASE=nodejs
DB_USERNAME=root
DB_PASSWORD=123456

HASH_DRIVER=bcrypt
JWT_SECRET=JWT_SECRET
